h1 {font-size: 50px; text-align: center;font-family: Arial, Helvetica, sans-serif;font-weight: 100;margin-top: 35px;}
body {background: #e6f4ff;}
.img1 {width: 46%; margin-left: 27%;}
.p1 {font-size: 20px;text-align: left;font-family: Arial, Helvetica, sans-serif;margin: 4% 15%;}
.img2 {width: 101.6%;margin-left: -1%;}
hr {background-color:red;height: 1%;text-align: center;width: 60%;}
.img3 
{
    margin-left:15%; 
    width: 50%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 15%;
}
.img4
{
    margin-top:4%;
    margin-left:35%; 
    width: 50%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 15%;
}
.link 
{
text-align: center;font-size: 30px;font-family: Arial, Helvetica, sans-serif;color:black;text-decoration: underline;
}
.ss 
{
text-align: left;font-size: 24px;font-weight: 1px;margin-left: 15%;line-height: 1.7;
}